<h1>Editing Video</h1>

<%= render 'form', video: @video %>
<br/>
<%= link_to 'Back', videos_path, class: "btn btn-outline-secondary btn-sm" %>  || 
<%= link_to 'Show', @video, class: "btn btn-outline-secondary btn-sm" %>
