<%= simple_form_for([@video, @video.reviews.build, remote: true]) do |f| %>
   <div id="rating-form">
      <%= f.input :rating %>
   </div>
   <%= f.input :comment %>
   <%= f.button :button, type: :submit %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
   });
</script>
